.templates-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.templates-container > div {
    margin: 1%;
    width: 29.3%;
}
a {
    display: block;
    text-align: center;
}